.login-form {
  width: 30%;
  height: 50%;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input-field {
  border: 1px solid gray;
  outline: none;
}
.login-btn {
  background-image: linear-gradient(to right, #00dbde, #fc00ff);
  border-radius: 50px;
  outline: none;
  border: none;
  color: white;
}
.login-btn:hover {
  background-image: linear-gradient(to left, #00dbde, #fc00ff);
}
.input {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  right: 65px;
  top: 10px;
}
